{% extends "home.html" %}

{%block title%} Animals {%endblock title%}

{% block contents %}
 <h1>Create New Book</h1>

<form method="post" action="/books/new">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="book_name" id="inputEmail3" placeholder="Book Name">
    </div>
  </div>
 <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Code</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="book_code" id="inputEmail3" placeholder="Book Code">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Category</label>
    <div class="col-sm-10">
       <select class="form-control" name="book_category">
        {% for category in categories %}

        <option value="  {{ category.category_id }}  ">
          {{ category.category_name }}
        </option>
        {% endfor %}

      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Fee</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="book_fee" id="inputEmail3" placeholder="Book Fee">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Quantity</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="book_quantity" id="inputEmail3" placeholder="Book Quantity">
    </div>
  </div>
  <div class="form-group row text-center">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Create Book </button>
    </div>
  </div>
</form>

{% endblock contents %}