{% extends "home.html" %}


{% block contents %}
 <h1>All Categories <a  class="btn btn-success" href="categories/new">Add New</a></h1>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">Category Name</th>
	  <th scope="col">Edit</th>
	  <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
     {% for category in categories %}
    
    
  <tr>
      <td>{{ category.category_name }}</td>

      <td><a href="categories/edit/{{ category.category_id }}" class="btn btn-info">Edit</a></td>
      <td><a href="categories/delete/{{ category.category_id }}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock contents %}