{% extends "home.html" %}

{%block title%} Animals {%endblock title%}

{% block contents %}
 <h1>All Users <a  class="btn btn-success" href="users/new">Add New</a></h1>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Username</th>
      <th scope="col">Phone </th>
	  <th scope="col">Role</th>
	  <th scope="col">Edit</th>
	  <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
     {% for user in users %}
    
    
  <tr>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.phone }}</td>
	  <td>{% if user.role == 3 %} Master Admin {% elif  user.role == 2 %} Admin {% elif  user.role == 1 %} Student {% endif %}</td>
      <td><a href="users/edit/{{ user.user_id }}" class="btn btn-info">Edit</a></td>
      <td><a href="users/delete/{{ user.user_id }}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock contents %}